/*.form-signin {
    max-width: 730px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
}*/

/*.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}*/

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

::-moz-selection {
    background: #e50000;
    text-shadow: none
}

::selection {
    background: #e50000;
    text-shadow: none;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open_sans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/open_sans/OpenSans-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open_sans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/open_sans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: toyotadisplay_rg;
  src: url(../fonts/toyota-display/toyotadisplay_rg.eot);
  src: url(../fonts/toyota-display/toyotadisplay_rg.eot?#iefix) format("embedded-opentype"),url(/fonts/toyota-display/toyotadisplay_rg.woff) format("woff"), url(/fonts/toyota-display/toyotadisplay_rg.ttf) format("truetype")
}


body {
	background-color: #ffffff;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

a:hover, body, button, html, input, p a, select, textarea {
  color: #202020;
}

h1, h2, h3, h4, h5, p, ul {
  margin: 0;
}

h2 {
  font-family: "toyotadisplay_rg", "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400!important;
}

.form-label {
  padding-bottom: 0;
  margin-bottom: 8px;
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #595d60;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}

.form-input {
  display: block;
  width: 100%;
  height: 41px;
  margin: 0 0 20px 0;
  padding: 7px 6px 9px 16px;
  border: none;
  border-radius: 4px;
  color: #202020;
  background: #f0f0f0;
  caret-color: #e50000;
  font-size: 15px;
  line-height: 1.428571429;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-input:hover {
    background: #e4e4e4;
}

.form-input:focus {
  outline: 0;
  background: #fff;
  border-color: #66afe9;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
}


@media (min-width: 992px) {
  .btn-wrap {
    text-align: right;
  }
}

/* btn + */
.btn.btn-action-primary {
    color: #fff;
    background-color: #e50000;
}

.btn-red {
	border: none;
	font-size: 15px;
	font-size: 1.5rem;
	color: #000;
	line-height: 45px;
	background-color: #f0f0f0;
	padding: 0 30px;
	height: 46px;
	min-width: 160px;
	border-radius: 100px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.btn-white {
  border: none;
  font-size: 15px;
  font-size: 1.5rem;
  color: #202020;
  background: #ffffff;
  background-color: #ffffff;
  line-height: 45px;
  padding: 0 30px;
  height: 46px;
  min-width: 160px;
  border-radius: 100px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.btn-white.active-white {
  color: #e50000;
  background: #e4e4e4;
}

.btn-white.active-white:hover {
  color: #e50000;
}

.btn-white:hover {
  background: #e4e4e4;
}

.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus, 
.btn:hover {
    color: #333;
    text-decoration: none;
}

.btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

.btn.btn-action-primary:active,
.btn.btn-action-primary:focus,
.btn.btn-action-primary:hover {
    background: #ce0000;
    color: #fff;
}

.back-link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-link:hover {
  text-decoration: none;
}

.back-text {
  margin-left: 12px;
  font-size: 18px;
  color: #202020;
}

.btn-back {
  position: relative;
  width: 47px;
  height: 47px;
  font-size: 1px;
  color: transparent;
  background: #202020;
  z-index: 2;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  transition: background .3s;
}

.btn-back:before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 3px solid #ffffff;
  transform: rotate(-134deg);
  width: 12px;
  height: 12px;
  border-bottom: none;
  border-left: none;
  transition: border-color .3s;
}

.back-link:hover .btn-back {
  background-color: #e50000;
}

.back-link:hover .back-text {
  color: #e50000;
}


/* btn - */

.sect-title {
  font-size: 3.4rem;
  text-align: left;
  letter-spacing: -.03em;
  line-height: 4.6rem;
  padding-bottom: 16px;
}



/*STATIC PAGE*/
.content-wrapper {
  padding-top: 1rem;
  overflow-x: hidden;
  background: white;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}


@media (min-width: 992px) {
  .content-wrapper > .container {
    width: 741px;
  }
}

@media (min-width: 1200px) {
  .content-wrapper > .container {
    width: 1100px;
  }
}



.greeting-title {
  margin-bottom: 16px;
  font-family: "toyotadisplay_rg", "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-dark {
    background-color: #343a40;
}


.navbar-expand-lg {
  border: none;
  min-height: auto;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }
}

.navbar-expand-lg .btn-white {
  width: 100%;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
      display: none;
  }
}

/*@media (min-width: 768px) {
	#navbarResponsive.navbar-collapse.collapse {
		display: none;
	}
}*/

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>);
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}



@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
  }
}

#mainNav .navbar-collapse {
    overflow: auto;
    max-height: 75vh;
}

@media (min-width: 992px) {
  #mainNav .navbar-collapse {
      overflow: visible;
      max-height: none;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
  }
}

#mainNav .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (min-width: 992px) {
  #mainNav .navbar-collapse .navbar-sidenav {
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 40px;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
      height: calc(100vh);
  }
}

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
      background: #f0f0f0;
      border-right: 1px solid #e4e4e4;
  }
}

@media (min-width: 992px) {
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
      width: 250px;
      padding: 0 20px;
  }

  #mainNav .navbar-collapse .navbar-sidenav > .nav-item:not(:last-child) {
    margin-bottom: 18px;
  }
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    cursor: pointer;
}

@media (min-width: 992px) {
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: #868e96;
}
#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    cursor: pointer;
}



/*Payment*/

.table-inverse.table-bordered {
    border: 0;
}
.table-inverse {
    background-color: #e6e7e8;
    background-color: #ffffff;
    color: #343a4f;
}

.table-inverse thead {
  background-color: #343a4f;
  color: #e6e7e8;
}


.table-inverse th, .table-inverse td, .table-inverse thead th {
    border-color: #55595c;
    border-radius: 12px;
}
.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #eceeef;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

.table-inverse .table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th {
	font-weight: 400;
	line-height: 1;
	border: 1px solid #fff;
	border-radius: 12px;
	background-color: #e6e7e8;
}

.table-bordered>tbody>tr>td {
	font-weight: 400;
	line-height: 1;
	border: 1px solid #fff;
	border-radius: 12px;
	background-color: #e6e7e8;
}

.table-bordered .table>thead:first-child>tr:first-child>th,
.table>thead:first-child>tr:first-child>th {
    border: 1px solid #ffffff;
    font-weight: 400;
    line-height: 1;
}